# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Model artifacts
models/*.pkl

# OS
.DS_Store
Thumbs.db
